[user]
name = revett
email = charlierevett@gmail.com

[color "branch"]
current = yellow reverse
local = yellow
remote = green

[color "diff"]
meta = yellow
frag = magenta
old = red
new = green

[color "status"]
added = green
changed = blue
untracked = magenta

[push]
default = upstream

[alias]
log = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
st = status
s = status
ch = checkout
br = checkout -b
dc = diff --cached
d = diff
sq = merge --squash
[core]
	ignorecase = false
