#!/usr/bin/env bash
#
# Aliases
#
# @author Charlie Revett (@revcd)

# Dates
alias week='date +%V'

# Directories
alias ~='cd $HOME'
alias dotfiles='cd ~/projects/github.com/revett/dotfiles'
alias rev='cd ~/projects/github.com/revett'
alias 8th='cd ~/projects/github.com/8thpark'
alias mono='cd ~/projects/github.com/8thpark/mono'
alias work='cd ~/projects/github.com/team-plain'

# General
alias reload='source ~/.zshrc'

# Git
# gfo → grebase → gpush
# gpull
# gaa → grestore → gd
alias gst='git status'
alias gco='git checkout'
alias gcm='git checkout main'
alias gcb='git checkout -b'
alias gaa='git add --all && git diff --staged && git status'
alias gcom='git commit'
alias gd='git diff'
alias gds='git diff --staged'
alias gfo='git fetch origin'
alias glog='git log --oneline --decorate --graph'
alias grebase='git rebase origin/main'
alias grestore='git restore --staged .'
alias gpull='git pull --rebase'

# Network
alias localip='ifconfig -l | xargs -n1 ipconfig getifaddr'
alias ip='localip'

# Set BSD ls to use coreutils gls
# https://github.com/sharkdp/vivid#on-macos
alias ls='gls --color'

# Work
alias pn='pnpm'
alias plain:infra:run='aws-login dev-charlie-admin && pn install && pn start'
alias plain:services:nuke='clear && pn clean:dist && pn install && pn run format:fix && pn run lint:fix && pn run gen:monorepo && pn typecheck:services'
alias plain:services:run='pn install && aws-login dev-charlie-admin && pn run dev'

# cmux
alias cmux-move-workspace='cmux reorder-workspace --workspace $CMUX_WORKSPACE_ID --index 0'
alias cmux-reset-workspace-title='clear &&cmux rename-workspace --workspace $CMUX_WORKSPACE_ID "$(gh-repo-slug 2>/dev/null || basename "$PWD")"'
