#!/usr/bin/env bash
#
# Aliases.
#
# @author Charlie Revett (@revcd).

# Dates.
alias week='date +%V'
alias sprint='date +%V'

# Directories.
alias ~='cd $HOME'
alias dl='cd ~/Downloads'
alias dotfiles='cd ~/projects/github.com/revett/dotfiles'
alias rev='cd ~/projects/github.com/revett'
alias side='cd ~/projects/github.com/8thpark'
alias 8th='side'
alias mono='cd ~/projects/github.com/8thpark/mono'

# General.
alias reload='source ~/.zshrc'

# Git.
alias ggpull='git pull origin $(branch)'
alias ggpush='git push origin $(branch)'

# Network.
alias localip='ifconfig -l | xargs -n1 ipconfig getifaddr'
alias ip='localip'

# Set BSD ls to use coreutils gls.
# https://github.com/sharkdp/vivid#on-macos
alias ls='gls --color'

# Alias the old VS Code command to use Cursor.
alias code='cursor'
