# .env files
.env
.*.env

# builds
*.darwin-amd64

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Output of the go coverage tool
*.out

# Swap files
*.swp

# Used to set the machine name
# See: https://apple.stackexchange.com/questions/287760/set-the-hostname-computer-name-for-macos
machine_name.txt
