[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  frag = magenta
  meta = yellow
  new = green
  old = red

[color "status"]
  added = green
  changed = cyan
  untracked = magenta

[core]
  excludesfile = /Users/revett/dotfiles/.gitignore
  ignorecase = false

[push]
  default = upstream

[pull]
  rebase = false

[alias]
  ch = checkout
  br = checkout -b
  d = diff
  dc = diff --cached
  log = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  s = status
  st = status

[user]
  email = 2796074+revett@users.noreply.github.com
  name = revett

# Added to support usage of private Go packages within go.mod
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
