[user]
  name = revett
  email = 2796074+revett@users.noreply.github.com

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow
  frag = magenta
  old = red
  new = green

[color "status"]
  added = green
  changed = blue
  untracked = magenta

[push]
  default = upstream

[pull]
  rebase = false

[alias]
  log = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  st = status
  s = status
  ch = checkout
  br = checkout -b
  dc = diff --cached
  d = diff
  sq = merge --squash
  edit-unmerged = "!f() { git diff --name-status --diff-filter=U | cut -f2 ; }; vscode `f`"

[core]
  ignorecase = false
  excludesfile = /Users/revett/.gitignore

[url "git@github.com:"]
  insteadOf = "https://github.com/"
  pushInsteadOf = "github:"
  pushInsteadOf = "git://github.com/"
